

.about img {
    margin-bottom: 2%;
    margin-right: 3.5%;
    float: left;
}


.title {
    color: #7b0c00;
    font-family: 'Yantramanav', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    margin: 0.5em 0;
}



.about p:first-letter {
    font-size: 150%;
    color: #7b0c00;
}


p {
    text-indent: 30px;
}


article {
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.1em;
    background-color: white;
    padding: 1.5em;
    text-align: justify;
    margin-bottom: 3%;
    /*border: 1px solid darkblue;*/
}

.container-fluid {
    height: 100%;
}


/* mobile phone */
@media only screen and (min-width: 0) and (max-width: 480px) {
    .about > img {
        height: 150px;
        width: auto;
    }
}

/* tablet portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .about img {
        height: 200px;
        width: auto;
    }
}