.contact {
    background-color: white;
    text-align: center;
    /*border: 1px solid magenta;*/
    padding: 1.5em;
}


.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
}

iframe, .panel {
    margin-bottom: 10px;
}


#title {
    font-family: 'Yantramanav', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: #7b0c00;
}


#contact-info {
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.1em;
    color: #7b0c00;
}


textarea {
    resize: none;
}


.panel-body {
    padding: 0;
}


.input-group {
    z-index: 0;
}


/* mobile phone */
@media only screen and (min-width: 0) and (max-width: 480px) {
    div#contact-info p > span{
        font-size: 0.9em;
    }

}
