.coinImg {
    /*background-color: aqua;*/
    width: 15%;
}


.coinName {
    /*background-color: greenyellow;*/
    text-align: left;
    width: 55%;
}


.coinQty {
    /*background-color: magenta;*/
    text-align: right;
    width: 10%;
}


.coinPrice {
    /*background-color: deepskyblue;*/
    text-align: right;
    width: 20%;
}


table td {
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 12px;
}


table {
    table-layout: fixed;
    /*margin: 10px;*/
    /*min-width: 430px;*/
    /*display: inline-flex;*/
}


.total {
    text-align: center;
    font-size: 1.2em !important;
    font-weight: bolder !important;
    color: #7b0c00;
    padding: 10px 15px;
}


.dropdown-menu li {
    text-align: right;
}


.tooltip > .tooltip-inner {
    color: black;
    background-color: #ffd08a;
}


/* Change color of dropdown links on hover */
.dropdown-menu table:hover { background-color: #ffe0b7; }


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}


/* Changes the background color of the drop-down button when the drop-down content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffe0b7;
}


.dropdown-menu .container-fluid {
    width: 430px;
    padding: 0;
    margin: 0;
    display: inline-block;
}


li#cart-table {
    min-width:430px;
}