

.contaner {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*.carousel {*/
    /*border: 1px solid red;*/
/*}*/


img {
     
    overflow: hidden;
}


.bg {
    height:100%;
}


.col-centered {
    padding-right: 0;
    padding-left: 0;
    display: block;
    alignment: center;
}